<div class="container">
  {% for testimonial in testimonials %}
    <blockquote class="testimonial">
      <p>“{{ testimonial.quote }}”</p>
      <cite title="{{ testimonial.name }}">
        {{ testimonial.name }}
        {% if testimonial.title %}
          ({{ testimonial.title }})
        {% endif %}
      </cite>
    </blockquote>
  {% endfor %}
  <div class='contact'>
    <h1 class="contact__header">Contact</h1>
    <p class='contact__msg'>I'm currently pursuing software engineering internship/apprenticeship opportunities through the DoD Skillbridge <a href='https://dodskillbridge.usalearning.gov/'>program</a> with a start date of June '22 and the option for full-time in Oct '22.<br><br><p class='contact__email'>E-mail me at: {{ email }}.</p>
  </div>
</div>
