<div class="container">
  <div class="lead">
    <img class="profile__pic" src="img/profile.png" alt="profile_pic"/>
    <h1 class="lead__heading">{{ header }}</h1>
    <div class="lead__sub">
      {{ description }}
      <br><br>
      {{ description2 }}
      <br>
      <p class='contact__email'>E-mail me at: <a id="show_email" class="btn email__btn">Show</a>
    </div>

    <div class="call-to-action">
      <a href="{{ cta.url }}" target="_blank" class="btn btn--primary">{{ cta.label }}</a>

      <div class="socials">
        {% for social in socials %}
          {% assign url = social.url %}
          {% if social.icon == 'mail-alt' %}
            {% capture url %}mailto:{{ email }}{% endcapture %}
          {% endif %}
          <a
            class="socials__link"
            href="{{ url }}"
            target="_blank"
          >
              <i class="icon-{{social.icon}}"></i>
            </a>
          {% endfor %}
      </div>
    </div>
  </div>
  <hr>
</div>
