.contact__msg {
  line-height: 24px;
}

.contact__email {
}

.contact {
  @media #{$tablet} {
    margin-top: -50px;  
  }
}

.contact__header {
  margin-top: -30px;
  @media #{$tablet} {
    margin-top: 70px;  
  }
}
