.footer {
  background-color: $footer-color;
  color: $footer-text-color;
  text-align: center;
  padding: 5px 5px 5px 5px;

  &__name {
    margin-top: 0;
    margin-bottom: 0;
  }
  &__title {
    margin-top: 0;
    color: $footer-alt-color;
    margin-bottom: 5px;
  }
}
